@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    overflow: none;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.navbar{
	display:table;
	margin: 0 auto;
	position:relative;
}


.small-image{
    height: 35rem;
}

#footer{
    height: 10rem;
    background: grey;
    text-align: center;
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
}

.footer-text{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.5rem;
}

.inner-li{
    width: 100%; 
    float:left;
    text-align: center;
    
}

.inner-li-img{
    height: 30rem; 
    float: left; 
    margin: 0 auto; 
    text-align: center;
}

p{
    font-size: 2rem;
}

h1, h3{
    color: #286090;
    text-decoration: underline; 
}

 #index-part1{
    background: white;
    padding: 30px 120px 60px 120px;
}
        
#index-part2{
    background: #F0F0F0;
    padding: 80px 120px;
}
        
#jumbo-button{
     width: 20%;
     height: 4rem;
     font-size: 2rem;
     border-radius: 2rem;
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin: 20px;
  font-family: arial;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}