@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.heading{
	text-align:center;
	color: #000000;
}

body{
    overflow: none;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
	background-color:  #DEDEDE;
}



ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #454545;
}

li {
  float: left;
  
}
li a {
  display: block;
  color: FFFFFF;
  text-align: center;
  padding: 16px;     
  text-decoration: none;
  font-size:24px;
}
#outer-menu{
	position:top;
	top:28px;
	height:58px;
	opacity:0.8;
	background-color:	#242424;
	border:solid black;
}
.nav{
	display:table;
	margin: 0 auto;
	position:relative;
}






.small-image{
    height: 35rem;
}

#footer{
    height: 10rem;
    background: grey;
    text-align: center;
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
}

.footer-text{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.5rem;
}

.inner-li{
    width: 100%; 
    float:left;
    text-align: center;
    
}

.inner-li-img{
    height: 30rem; 
    float: left; 
    margin: 0 auto; 
    text-align: center;
}

p{
    font-size: 2rem;
}


 #index-part1{
    background: white;
    padding: 30px 120px 60px 120px;
}
        
#index-part2{
    background: #F0F0F0;
    padding: 80px 120px;
}
        
#jumbo-button{
     width: 20%;
     height: 4rem;
     font-size: 2rem;
     border-radius: 2rem;
}




.card {
  box-shadow: 1 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 250px;
  margin: auto;
  font-family: arial;
  padding: 35px;
  background-color: rgba(255,255,255, 1);

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}






.img1 {
	background-image: url("homepagebackground1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	

}

.text1 {
    padding: 30px;
    color: #fff;
    font: 18px Georgia;
    background: rgba(0, 0, 0, 0.7);
}


.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.centervid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



* {
  box-sizing: border-box;
}



.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}


.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {
  
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
